.lead-form{
  text-align: center;
  font-size:25px;
}

/* ページ全体に適用 */
body{
  /* 中央寄せ */
  margin-right: auto;
  margin-left: auto;
  /* 全体の横幅を750に設定 */
  width:750px;
  }

/* 見出し */
.h1 {
  /* 文字色 */
  color: #668ad8;
  /* 上下の余白 */
  padding: 0.5em 0;
  /* 上線 */
  border-top: solid 3px #364e96;
  /* 下線 */
  border-bottom: solid 3px #364e96;
}

/* ボタンに適用 */
.pause{
  /* 中央寄せ */
  text-align:center;
  margin:0 auto;
  font-size: 25px;
}

/* ボタン同士の間隔を設定 */
.pad{
  display: inline-block;
  width:200px;
  padding-left:10px;
  padding-top:30px;
}

/* ボタンの詳細な設定 */
.btn-circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple:hover {
  background: #b3e1ff;
}


