/* ページ全体に適用 */
body{
  margin-right: auto;  /* 中央寄せ */
  margin-left: auto;
  width:750px;         /* 全体の横幅を750に設定 */
  }

/* 見出し */
.title{
  color: #668ad8;  /* 色を指定 */
  font-size: 40px; /* 文字サイズを40pxに指定 */
  text-align:center; /* 中央寄せ */
  margin:0 auto;
  background: #dfefff;  /* 背景の色を指定 */
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;

}

/* 小見出し */
.subtitle{
  color: #668ad8;
  font-size: 25px;
  text-align:center;
  margin:0 auto;
  padding-top:50px;  /* 上の余白を50pxに指定 */
  
}

/* "丸いボタン"に適用 */
.pause{
  text-align:center;
  margin:0 auto;
  font-size: 25px;
}

/* "丸いボタン"同士の間隔を設定 */
.pad{
  display: inline-block;
  width:200px;
  padding-left:10px;
  padding-top:50px;
}

/* "丸いボタン"の詳細な設定 */
.btn-circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

/* "丸いボタン"の上にマウスを置いたときに実行されるクラス */
.btn-circle-border-simple:hover {
  background: #b3e1ff;  /* 背景色を設定 */
}

/* "前のページに戻るボタン" */
.btn-flat-border {
  text-align: center;
  margin:0 auto;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #668ad8;
  border: solid 2px #668ad8;
  border-radius: 3px;
  transition: .4s;
}

/* "前のページに戻るボタン"の上にマウスを置いたときに実行されるクラス */
.btn-flat-border:hover {
  text-align: center;
  margin:0 auto;
  background: #668ad8;
  color: white;
}

/* "前のページに戻るボタン"を中央揃え */
.pad{
  text-align: center;
  margin:0 auto;
  padding-top:50px;
}
